

.section-contact {
    background-image: url(../assets/contact-bg.jpg);
    background-size: cover;



    &::after {
        content: "";
        display: block;
        position: fixed;
        top:0;
        left:0;
        background-color: rgba(0, 105, 255, 0.5);
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .card-contact {
        z-index: 2;
    }
}