

.image-services {

    background-image: url(../assets/banner-mobile.jpg);
    height: 150px;
    background-size: cover;
    background-position-x: 80%;
}

.sep {
    height: 5px;
    border: none;
    background-color: var(--button);
    opacity: 100;
    margin: 0;
}

.card-service {
    height: 20rem;
}
